/*-----------------------------------------------------------------------------
	Stylesheet for 'Admin CSS Override' extension;
	CSS rules placed here will override Symphony Admin styles;
-----------------------------------------------------------------------------*/

/* required fields */
.field.required label {
  color: #c4301e; /* matches default error color */
  font-weight: bold;
}

/* tag-list field suggestions */
.field-taglist .tags {
  border: .1rem solid #c5c5c5; /* matches some default .frame styles */
  padding: .2rem .3rem;
  max-height: 7.5em;
  overflow: auto;
}

/* image_index_preview fields */
.imageLink img {
  display: block;
  margin-bottom: 5px;
}
